<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jpbook.dao.BookrackDao">

    <select id="read" resultType="map">
        select b.* from
        (select u.pen,b.*,bt.btname,c.chapid,chaptime,c.chapname
        from users u,books b,booktype bt,roll r,chapter c,
        (select b.bookid from browse br,books b,roll r,chapter c
        where br.chapid=c.chapid and c.rollid=r.rollid and b.bookid=r.bookid
        and br.uuid=#{uuid} group by b.bookid)be
        where u.uuid=b.uuid and bt.btid=b.btid and b.bookid=r.bookid
        and r.rollid=c.rollid and be.bookid=b.bookid) b
        right join
        (select b.chapid,b.bookid,max(b.chaptime)time from
        (select b.bookid,c.chapname,c.chaptime,c.chapid
        from books b,roll r,chapter c,browse br
        where b.bookid=r.bookid and r.rollid=c.rollid and br.chapid=c.chapid
        and br.uuid=#{uuid} and c.chapstate=1 order by c.chaptime desc)b
        group by b.bookid) bb
        on bb.time = b.chaptime
    </select>

    <select id="rack" resultType="map">
        select b.bookid,br.brid,bt.btname,b.bookname,b.bookstate,c.chaptime,u.pen,u.uuid,
        (select count(uuid) from bookrack where uuid=#{param1}) num
        from bookrack br inner join books b
        on br.bookid = b.bookid inner join booktype bt
        on bt.btid = b.btid inner join users u
        on u.uuid = b.uuid inner join roll r
        on r.bookid = b.bookid inner join chapter c
        on c.rollid = r.rollid
        where br.uuid = #{param1}
        and (b.bookname like concat('%',#{param2},'%') or u.pen like concat('%',#{param2},'%'))
        group by b.bookid order by c.chaptime desc
    </select>



</mapper>