<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jpbook.dao.BooktypeDao">
    <!--查询所有的书籍类型-->
    <select id = "queryAll" resultType="map">
        select bt.btid,bt.btname,bt.btico,count(b.bookid) count from booktype bt left join books b on bt.btid = b.btid
        group by bt.btid,bt.btname,bt.btico order by btid
    </select>

    <resultMap id="typeAndBooks" type="Map">
        <id column="btid" property="btid"></id>
        <result column="btname" property="btname"></result>
        <result column="bticon" property="bticon"></result>
        <collection property="books" javaType="List" column="btid" select="queryBooksByBtid">
        </collection>
    </resultMap>
    <select id="queryBooksByBtid" parameterType="Integer" resultType="Map">
        select * from books where btid=#{btid}
    </select>
    <select id="queryTypeAndBooks" resultMap="typeAndBooks" parameterType="Map">
        select * from booktype
    </select>
</mapper>