<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >

<mapper namespace="com.jpbook.dao.RollDao">
    <resultMap id="rollAndChapter" type="com.jpbook.entity.Roll">
        <id column="rollid" property="rollid"/>
        <result column="rollname" property="rollname"/>
        <result column="rollnum" property="rollnum"/>
        <result column="bookid" property="bookid"/>
        <result column="updatetime" property="updatetime"/>
        <result column="url" property="url"/>
        <collection property="chapterList" ofType="com.jpbook.entity.Chapter" column="rollid" select="queryChapter"/>
    </resultMap>
    <select id="queryAllAndChapter" resultMap="rollAndChapter">
        select * from roll where bookid=#{bookid}
    </select>
    <select id="queryChapter" resultType="com.jpbook.entity.Chapter" parameterType="Integer">
        select * from chapter where rollid=#{rollid} and chapstate=1
    </select>
    
    <resultMap id="money" type="Map">
        <id column="rollid" property="rollid"></id>
        <result column="rollname" property="rollname"></result>
        <result column="count" property="count"></result>
        <result column="sum" property="sum"></result>
        <result column="uuid" property="uuid"></result>
        <collection property="chaps" javaType="List" column="{rollid=rollid, uuid=uuid}" select="queryMoneyChaerByRollid">
        </collection>
    </resultMap>
    <select id="queryMoneyChaerByRollid" parameterType="Map" resultType="Map">
        select c.chapid,c.chapname,c.chaptime,c.chapcount,left((c.chapcount/200),LOCATE('.',(c.chapcount/200))-1) money,IFNULL(b.buyid,0) buyid from chapter c LEFT JOIN (select * from buyrecord where uuid=#{uuid}) b on c.chapid=b.chapid where chapstate=1 and rollid=#{rollid}
    </select>
    <select id="queryMoneyRoll" resultMap="money" parameterType="Map">
        select r.rollid,r.rollname,count(c.chapid) count,IFNULL(sum(c.chapcount),0) sum,${param2} uuid from roll r LEFT JOIN chapter c on r.rollid=c.rollid where r.bookid=#{param1} and c.chapstate=1 and r.rollmoney=2 GROUP BY r.rollid
    </select>
</mapper>
