<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作者详情</title>

    <link rel="icon" type="image/x-icon" href="https://qidian.gtimg.com/qdp/img/favicon.0.3.ico">

    <link rel="stylesheet" data-ignore="true" href="../css/index.0.110.css">

</head>
<body>


<div class="">
    <div class="author-header" data-l1="2">
        <div class="author-header-wrapper">
            <div class="header-avatar">
                <img class="header-avatar-img" src="/jpbook/imgicon/0.jpg" alt="唐家三少的头像">
                <span class="header-avatar-vip author-darkblue">白金</span>
            </div>
            <div class="header-msg">

                <h3>唐家三少<a class="header-msg-level icon icon-god-5" href="https://my.qidian.com/author/light/4921" title="level5" target="_blank">level2</a></h3>
                <div class="header-msg-desc">阅文集团白金作家，中国作协主席团委员，北京青联委员，网络文学代表人物之一，蝉联多年作家富豪榜榜首</div>
                <div class="header-msg-data">
                    <span class="mr12">作品总数<strong class="header-msg-strong">19</strong></span><span class="ml12 mr12">累计字数<strong class="header-msg-strong">3998.64</strong>万</span><span class="ml12 mr12">创作天数<strong class="header-msg-strong">5047</strong>天</span></div>
            </div>
        </div>
    </div>
    <div class="author-content-wrapper" data-l1="2">

        <div class="author-content">

            <h2 class="author-title">火热连载</h2>
            <ul class="author-hot" data-l2="9">
                <li class="author-item">
                    <a href="https://book.qidian.com/info/1013406185" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150.jpg" srcset="//qidian.qpic.cn/qdbimg/349573/1013406185/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1013406185" target="_blank" data-eid="qd_M269" data-bid="1013406185">斗罗大陆IV终极斗罗</a></div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1013406185/458008868" target="_blank">连载</a><i class="author-item-line"></i>48.54万字</div>
                        <div class="author-item-content">一万年后，冰化了。斗罗联邦科考队在极北之地科考时发现了一个有着金银双色花纹的蛋，用仪器探察之后，发现里面居然有生命体征，赶忙将其带回研究所进行孵化。蛋孵化出来了，...</div>

                    </div>
                </li>
            </ul>

            <h2 class="author-title">全部作品(19)</h2>
            <ul class="author-work" data-l2="9">

                <li class="author-work-line"></li>

                <li class="author-item">
                    <div class="author-item-time">2004~2011</div>
                    <a href="https://book.qidian.com/info/8361" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(1).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/8361/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/8361" target="_blank" data-eid="qd_M269" data-bid="8361">光之子</a></div>
                        <div class="author-item-coll">累积获得八万张推荐票</div>
                        <div class="author-item-exp"><a href="http://qihuan.qidian.com/" target="_blank">奇幻</a><i class="author-item-line"></i><a href="https://read.qidian.com/chapter/L10xRG3CFQc1/TgjliRzz0Qcex0RJOkJclQ2" target="_blank">完本</a><i class="author-item-line"></i>76.55万字</div>
                        <div class="author-item-content">一个懒惰的少年，因性格原因选学了无人问津的光系魔法，却无意中踏近了命运的巨轮，一步一步的成为了传说中的大魔导师。正是在他的努力下结束了东西大陆的分界，让整个大陆不...</div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2005~2011</div>
                    <a href="https://book.qidian.com/info/23813" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(2).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/23813/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/23813" target="_blank" data-eid="qd_M269" data-bid="23813">狂神</a></div>
                        <div class="author-item-coll">累积获得一万张推荐票</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://read.qidian.com/chapter/-7SdygaNA7Y1/s_4wvMYRnlwex0RJOkJclQ2" target="_blank">完本</a><i class="author-item-line"></i>148.60万字</div>
                        <div class="author-item-content">这个故事发生在一个充满战争的世界，在晋元大陆上生活着很多种族，其中以人族、魔族和兽人族实力最为强大，为了争夺更多的土地和资源，战火数百年从未间断，而我们的主人公就...</div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2005~2005</div>
                    <a href="https://book.qidian.com/info/26423" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(3).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/26423/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/26423" target="_blank" data-eid="qd_M269" data-bid="26423">善良的死神</a></div>
                        <div class="author-item-coll">累积获得三千张月票</div>
                        <div class="author-item-exp"><a href="http://qihuan.qidian.com/" target="_blank">奇幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/26423/10058976" target="_blank">完本</a><i class="author-item-line"></i>166.58万字</div>
                        <div class="author-item-content">小偷出身、纯朴善良的阿呆，在一次行窃之时被强大的炼金术士哥里斯因为某种目的带走了。阿呆的命运从此改变，命运推动着他救了大陆第一杀手，杀手之王为了报仇，强行将阿呆带...</div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2005~2006</div>
                    <a href="https://book.qidian.com/info/40717" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(4).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/40717/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/40717" target="_blank" data-eid="qd_M269" data-bid="40717">惟我独仙</a></div>
                        <div class="author-item-coll">累积获得十五万张推荐票</div>
                        <div class="author-item-exp"><a href="http://xianxia.qidian.com/" target="_blank">仙侠</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/40717/10097187" target="_blank">完本</a><i class="author-item-line"></i>174.49万字</div>
                        <div class="author-item-content">【小三新书《阴阳冕》已经注册】将会在本周日，斗罗大陆结束的同时开始上传更新，麻烦大家先收藏、推荐一下，谢谢。阴阳冕书号：1436015下面的直通车也可以直接点过去...</div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2006~2006</div>
                    <a href="https://book.qidian.com/info/53885" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(5).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/53885/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/53885" target="_blank" data-eid="qd_M269" data-bid="53885">空速星痕</a></div>
                        <div class="author-item-coll">累积获得一百万张推荐票</div>
                        <div class="author-item-exp"><a href="http://dushi.qidian.com/" target="_blank">都市</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/53885/10141686" target="_blank">完本</a><i class="author-item-line"></i>153.43万字</div>
                        <div class="author-item-content">【小三新书《阴阳冕》已经注册】将会在本周日，斗罗大陆结束的同时开始上传更新，麻烦大家先收藏、推荐一下，谢谢。阴阳冕书号：1436015下面的直通车也可以直接点过去...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/53885/10141686" class="blue" target="_blank" title="尾声">最近更新&nbsp;尾声</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2006-08-01 18:26</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/53885" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="53885">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="53885" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2006~2016</div>
                    <a href="https://book.qidian.com/info/70705" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(6).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/70705/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/70705" target="_blank" data-eid="qd_M269" data-bid="70705">冰火魔厨</a></div>
                        <div class="author-item-coll">累积获得一百万张推荐票</div>
                        <div class="author-item-exp"><a href="http://qihuan.qidian.com/" target="_blank">奇幻</a><i class="author-item-line"></i><a href="https://read.qidian.com/chapter/XyBRQRZ3SdU1/st99egGkWswex0RJOkJclQ2" target="_blank">完本</a><i class="author-item-line"></i>208.47万字</div>
                        <div class="author-item-content">七柄绝世神刃。冰雪女神的叹息——晨露刀。火焰之神的咆哮——正阳刀。自由之风的轻吟——傲天刀。大地苏醒的旋律——长生刀。神机百变的六芒——璇玑刀。贯通天地的曙光——...</div>
                        <div class="author-item-update"><a href="https://read.qidian.com/chapter/XyBRQRZ3SdU1/st99egGkWswex0RJOkJclQ2" class="blue" target="_blank" title="斗罗大陆III《龙王传说》正式开启！">最近更新&nbsp;斗罗大陆III《龙王传说》正式开启！</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2016-01-10 21:04:17</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/70705" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="70705">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="70705" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2007~2009</div>
                    <a href="https://book.qidian.com/info/101839" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="/jpbook/imgicon/150(7).jpg" srcset="//qidian.qpic.cn/qdbimg/349573/101839/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/101839" target="_blank" data-eid="qd_M269" data-bid="101839">生肖守护神</a></div>
                        <div class="author-item-coll">累积获得一百万张推荐票</div>
                        <div class="author-item-exp"><a href="http://dushi.qidian.com/" target="_blank">都市</a><i class="author-item-line"></i><a href="https://read.qidian.com/chapter/keq272q7keo1/xouAQxODuS8ex0RJOkJclQ2" target="_blank">完本</a><i class="author-item-line"></i>263.17万字</div>
                        <div class="author-item-content">十二生肖，象征着十二个月份，但是，没有人知道，他们也象征着十二位守护者。十二位传承着生肖血脉的守护者。他们拥有着自身属相的能力，默默的守卫着东方。麒麟，东方的祥瑞...</div>
                        <div class="author-item-update"><a href="https://read.qidian.com/chapter/keq272q7keo1/xouAQxODuS8ex0RJOkJclQ2" class="blue" target="_blank" title="第八十五章 大理三塔（上）">最近更新&nbsp;第八十五章 大理三塔（上）</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2009-12-15 17:32:50</span></div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2008~2009</div>
                    <a href="https://book.qidian.com/info/173050" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(8)" srcset="//qidian.qpic.cn/qdbimg/349573/173050/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/173050" target="_blank" data-eid="qd_M269" data-bid="173050">琴帝</a></div>
                        <div class="author-item-coll">累积获得一百万张推荐票</div>
                        <div class="author-item-exp"><a href="http://qihuan.qidian.com/" target="_blank">奇幻</a><i class="author-item-line"></i><a href="https://read.qidian.com/chapter/5frNQPDPdwM1/7STtZF5Go5Yex0RJOkJclQ2" target="_blank">完本</a><i class="author-item-line"></i>305.23万字</div>
                        <div class="author-item-content">九叠琴音震寰宇，谁敢闻言不识君？七色魔法代等级，雄雄揭大幕。琴之帝王，给这片大陆带来翻天覆地的改革。伴随着旷古绝今的赤子琴心的出现，一代琴魔法师，在碧空海之中悄然...</div>
                        <div class="author-item-update"><a href="https://read.qidian.com/chapter/5frNQPDPdwM1/7STtZF5Go5Yex0RJOkJclQ2" class="blue" target="_blank" title="第四十章 银龙公主（下）">最近更新&nbsp;第四十章 银龙公主（下）</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2009-09-23 07:53:11</span></div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2008~2009</div>
                    <a href="https://book.qidian.com/info/1115277" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(9)" srcset="//qidian.qpic.cn/qdbimg/349573/1115277/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1115277" target="_blank" data-eid="qd_M269" data-bid="1115277">斗罗大陆</a></div>
                        <div class="author-item-coll">累积获得一百万张推荐票</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1115277/26041662" target="_blank">完本</a><i class="author-item-line"></i>298.68万字</div>
                        <div class="author-item-content">唐门外门弟子唐三，因偷学内门绝学为唐门所不容，跳崖明志时却发现没有死，反而以另外一个身份来到了另一个世界，一个属于武魂的世界，名叫斗罗大陆。这里没有魔法，没有斗气...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/1115277/26041662" class="blue" target="_blank" title="第二百三十六章 大结局，最后一个条件（全书完）">最近更新&nbsp;第二百三十六章 大结局，最后一个条件（全书完）</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2009-12-13 07:42</span></div>

                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2009~2010</div>
                    <a href="https://book.qidian.com/info/1436015" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(10)" srcset="//qidian.qpic.cn/qdbimg/349573/1436015/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1436015" target="_blank" data-eid="qd_M269" data-bid="1436015">酒神</a></div>
                        <div class="author-item-coll">登上了起点首页热点封面推荐</div>
                        <div class="author-item-exp"><a href="http://qihuan.qidian.com/" target="_blank">奇幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1436015/30137780" target="_blank">完本</a><i class="author-item-line"></i>266.74万字</div>
                        <div class="author-item-content">国际巅峰调酒大师、品酒大师，有酒神之称的李解冻，为了品尝出土的汉代美酒而醉死于而立之年。当他一觉醒来时，却发现自己来到了一个名叫五行大陆的世界，变成了一个叫做姬动...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/1436015/30137780" class="blue" target="_blank" title="第六百八十八章 大结局！我就是你的烈焰啊！">最近更新&nbsp;第六百八十八章 大结局！我就是你的烈焰啊！</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2010-11-28 07:00</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/1436015" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="1436015">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="1436015" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2010~2011</div>
                    <a href="https://book.qidian.com/info/1777445" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(11)" srcset="//qidian.qpic.cn/qdbimg/349573/1777445/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1777445" target="_blank" data-eid="qd_M269" data-bid="1777445">天珠变</a></div>
                        <div class="author-item-coll">累积获得两百万张推荐票</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1777445/35601437" target="_blank">完本</a><i class="author-item-line"></i>267.45万字</div>
                        <div class="author-item-content">人有本命珠，觉醒后或为意珠、或为体珠，如手串分别在左右手腕处盘旋。天珠如人类之双胞胎，当意、体双珠同时出现在一个人身上的时候，即为天珠。修炼体珠者是为体珠师，修炼...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/1777445/35601437" class="blue" target="_blank" title="麻烦大家把推荐票投给新书《神印王座》">最近更新&nbsp;麻烦大家把推荐票投给新书《神印王座》</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2011-11-21 21:46</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/1777445" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="1777445">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="1777445" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2011~至今</div>
                    <a href="https://book.qidian.com/info/2162767" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(12)" srcset="//qidian.qpic.cn/qdbimg/349573/2162767/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/2162767" target="_blank" data-eid="qd_M269" data-bid="2162767">神印王座</a></div>
                        <div class="author-item-coll">登上了起点首页热点封面推荐</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/2162767/42259899" target="_blank">连载</a><i class="author-item-line"></i>259.75万字</div>
                        <div class="author-item-content">魔族强势，在人类即将被灭绝之时，六大圣殿崛起，带领着人类守住最后的领土。一名少年，为救母加入骑士圣殿，奇迹、诡计，不断在他身上上演。在这人类六大圣殿与魔族七十二柱...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/2162767/42259899" class="blue" target="_blank" title="新书：斗罗大陆II《绝世唐门》开启">最近更新&nbsp;新书：斗罗大陆II《绝世唐门》开启</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2012-11-19 08:54</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/2162767" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="2162767">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="2162767" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2012~至今</div>
                    <a href="https://book.qidian.com/info/2517792" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(13)" srcset="//qidian.qpic.cn/qdbimg/349573/2517792/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/2517792" target="_blank" data-eid="qd_M269" data-bid="2517792">斗罗大陆II绝世唐门</a></div>
                        <div class="author-item-coll">累积获得五千万点击</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/2517792/76735937" target="_blank">连载</a><i class="author-item-line"></i>507.96万字</div>
                        <div class="author-item-content">大陆传奇，一战成名；凤凰圣女，风火流星神界刀法；双升融合，金阳蓝月，雷霆之怒，这里没有魔法，没有斗气，没有武术，却有武魂。唐门创立万年之后的斗罗大陆上，唐门式微。...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/2517792/76735937" class="blue" target="_blank" title="第六百二十二章 大结局">最近更新&nbsp;第六百二十二章 大结局</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2014-12-19 17:01</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/2517792" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="2517792">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="2517792" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2014~至今</div>
                    <a href="https://book.qidian.com/info/3354701" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(14)" srcset="//qidian.qpic.cn/qdbimg/349573/3354701/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/3354701" target="_blank" data-eid="qd_M269" data-bid="3354701">天火大道</a></div>
                        <div class="author-item-coll">累积获得五百万点击</div>
                        <div class="author-item-exp"><a href="http://dushi.qidian.com/" target="_blank">都市</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/3354701/92390299" target="_blank">连载</a><i class="author-item-line"></i>258.97万字</div>
                        <div class="author-item-content">天火大道是一条长达两千零四十八米的街道，这里有着一百六十八间店铺，每一位店铺的主人，都是一位强大的异能者。绰号宙斯的佣兵界之王，因为妻子在意外中身亡隐居于天火大道...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/3354701/92390299" class="blue" target="_blank" title="尾声">最近更新&nbsp;尾声</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2016-01-18 00:06</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/3354701" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="3354701">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="3354701" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2015~至今</div>
                    <a href="https://book.qidian.com/info/3450647" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(15)" srcset="//qidian.qpic.cn/qdbimg/349573/3450647/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/3450647" target="_blank" data-eid="qd_M269" data-bid="3450647">斗罗大陆外传神界传说</a></div>
                        <div class="author-item-coll">累积获得一百五十万点击</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://read.qidian.com/chapter/cW3ej_Ju1Cc1/IvKQaBbhGL0ex0RJOkJclQ2" target="_blank">连载</a><i class="author-item-line"></i>20.40万字</div>
                        <div class="author-item-content">斗罗大陆III龙王传说，正式开始上传啦！书号：3681560，想知道神界传说后面的事情吗？那就快回来吧。搜索龙王传说也能找到我们的新书哦。</div>
                        <div class="author-item-update"><a href="https://read.qidian.com/chapter/cW3ej_Ju1Cc1/IvKQaBbhGL0ex0RJOkJclQ2" class="blue" target="_blank" title="斗罗大陆III龙王传说正式开启！">最近更新&nbsp;斗罗大陆III龙王传说正式开启！</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2016-01-10 20:58:45</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/3450647" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="3450647">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="3450647" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2016~至今</div>
                    <a href="https://book.qidian.com/info/3681560" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(16)" srcset="//qidian.qpic.cn/qdbimg/349573/3681560/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/3681560" target="_blank" data-eid="qd_M269" data-bid="3681560">斗罗大陆III龙王传说</a></div>
                        <div class="author-item-coll">累积获得五千万点击</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/3681560/424186552" target="_blank">连载</a><i class="author-item-line"></i>495.54万字</div>
                        <div class="author-item-content">伴随着魂导科技的进步，斗罗大陆上的人类征服了海洋，又发现了两片大陆。魂兽也随着人类魂师的猎杀无度走向灭亡，沉睡无数年的魂兽之王在星斗大森林最后的净土苏醒，它要带领...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/3681560/424186552" class="blue" target="_blank" title="第一千九百八十一章 永冻冰封！（大结局附后记）">最近更新&nbsp;第一千九百八十一章 永冻冰封！（大结局附后记）</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2018-08-24 07:00</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/3681560" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="3681560">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="3681560" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2018~至今</div>
                    <a href="https://book.qidian.com/info/1005635953" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(17)" srcset="//qidian.qpic.cn/qdbimg/349573/1005635953/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1005635953" target="_blank" data-eid="qd_M269" data-bid="1005635953">大龟甲师</a></div>
                        <div class="author-item-coll">累积获得五千张月票</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1005635953/433560783" target="_blank">连载</a><i class="author-item-line"></i>58.20万字</div>
                        <div class="author-item-content">一个深藏于心的秘密，一种叫大龟甲术的游戏，九颗神秘诡异的骰子，神之血脉的继承者，重建神族的使命……面对突如其来的一切，被神罚的少年将会做出怎样的选择？还记得《神印...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/1005635953/433560783" class="blue" target="_blank" title="第一百八十四章 百仙成子">最近更新&nbsp;第一百八十四章 百仙成子</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2018-11-22 07:00</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/1005635953" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="1005635953">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="1005635953" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2018~至今</div>
                    <a href="https://book.qidian.com/info/1011641567" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150(18)" srcset="//qidian.qpic.cn/qdbimg/349573/1011641567/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1011641567" target="_blank" data-eid="qd_M269" data-bid="1011641567">斗罗大陆外传唐门英雄传</a></div>
                        <div class="author-item-coll">累积获得五百张月票</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1011641567/437501706" target="_blank">连载</a><i class="author-item-line"></i>19.88万字</div>
                        <div class="author-item-content">这是属于我们唐门的世界，一个个你们所熟悉的唐门英雄会在这场众神之战的大舞台中登场。还记得光之子中的长弓威、狂神雷翔、死神阿呆、仙帝海龙、天帝天痕、琴帝叶音竹、冰火...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/1011641567/437501706" class="blue" target="_blank" title="尾声">最近更新&nbsp;尾声</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;2018-12-14 10:56</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/1011641567" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="1011641567">书籍详情</a><a href="javascript:;" class="ui-button ui-button-default elAddShelf" data-bid="1011641567" data-eid="qd_M271">加入书架</a>
                        </div>
                    </div>
                </li>

                <li class="author-item">
                    <div class="author-item-time">2018~至今</div>
                    <a href="https://book.qidian.com/info/1013406185" target="_blank" class="author-item-book" data-eid="qd_M268"><img src="./唐家三少全部作品_唐家三少作家主页_起点中文网_files/150" srcset="//qidian.qpic.cn/qdbimg/349573/1013406185/300 2x" class="author-item-img"></a>
                    <div class="author-item-msg">
                        <div class="author-item-title"><a href="https://book.qidian.com/info/1013406185" target="_blank" data-eid="qd_M269" data-bid="1013406185">斗罗大陆IV终极斗罗</a></div>
                        <div class="author-item-coll">累积获得一万张月票</div>
                        <div class="author-item-exp"><a href="http://xuanhuan.qidian.com/" target="_blank">玄幻</a><i class="author-item-line"></i><a href="https://vipreader.qidian.com/chapter/1013406185/458008868" target="_blank">连载</a><i class="author-item-line"></i>48.54万字</div>
                        <div class="author-item-content">一万年后，冰化了。斗罗联邦科考队在极北之地科考时发现了一个有着金银双色花纹的蛋，用仪器探察之后，发现里面居然有生命体征，赶忙将其带回研究所进行孵化。蛋孵化出来了，...</div>
                        <div class="author-item-update"><a href="https://vipreader.qidian.com/chapter/1013406185/458008868" class="blue" target="_blank" title="第二百零七章 压迫下的成长">最近更新&nbsp;第二百零七章 压迫下的成长</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;今天 07:00</span></div>
                        <div class="author-item-button">
                            <a href="https://book.qidian.com/info/1013406185" target="_blank" class="ui-button" data-eid="qd_M270" data-bid="1013406185">书籍详情</a><span class="ui-button ui-button-default disabled">已在书架</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

    <div style="margin-top: 50px"></div>

</body>
</html>