<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="../layui/layui.css"  media="all">

    <script src="../js/jquery-3.3.1.js"  th:inline="none"></script>
    <script src="../layui/layui.js" charset="utf-8"  th:inline="none"></script>
</head>
<body>
    <table class="layui-hide" id="users"></table>
</body>
    <script type="text/javascript" th:inline="none">
        layui.use('table', function(){
            var table = layui.table;

            table.render({
                elem: '#users'
                ,url:'/jpbook/back/userquery'

                ,cols: [[
                    {field:'uname', width:180, title: '用户名'}
                    ,{field:'exp', width:100, title: '经验'}
                    ,{field:'grade', width:100, title: '等级'}
                    ,{field:'money', width:120, title: '书币'}
                    ,{field:'icon', width:100, title: '头像',templet:function (d) { return '<img src="/jpbook/imgicon/'+d.icon+'">'}}
                ]]
                ,page: true
                ,done:function(res,curr,count){
                    hoverOpenImg();//显示大图
                    $('table tr').on('click',function(){
                        $('table tr').css('background','');
                        $(this).css('background','<%=PropKit.use("config.properties").get("table_color")%>');
                    });
                }
            });
        });

        function hoverOpenImg(){
            var img_show = null; // tips提示
            $('td img').hover(function(){
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:130px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.5)']
                    ,area: ['160px']
                });
            },function(){
                layer.close(img_show);
            });
            $('td img').attr('style','max-width:70px');
        }

    </script>
</html>